<ion-header>
    <ion-navbar>
        <ion-title>{{ title }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <div #options *ngIf="!isGuess">
        <button ion-button (click)="showColorSelect()" icon-only>
            <ion-icon name="ios-color-palette-outline"></ion-icon>
        </button>
        <button ion-button (click)="showSizeSelect()">
            <ion-icon name="ios-brush-outline"></ion-icon>
        </button>
        <!-- TODO: transparence -->
        <!--<button ion-button (click)="changeOpacity('.2')">transparent</button>-->
        <button ion-button (click)="undo()" icon-only>
            <ion-icon name="arrow-back"></ion-icon>
        </button>
        <button ion-button (click)="redo()" icon-only>
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </div>

    <ion-fab top right edge *ngIf="isGuess">
        <button ion-fab mini (click)="reDrawAllAnimated()"><ion-icon name="ios-refresh-outline"></ion-icon></button>
    </ion-fab>

    <canvas #sheet width="100%" height="100%"
            (touchmove)="draw($event)"
            (mousemove)="draw($event)"
            (touchend)="stopDraw($event)"
            (mouseup)="stopDraw($event)"
            (touchstart)="startDraw($event)"
            (mousedown)="startDraw($event)">
    </canvas>

    <ion-card *ngIf="isGuess">
        <ion-card-content>
            <ion-item>
                <button ion-button *ngFor="let letter of letters;" outline>{{letter}}</button>
            </ion-item>
            <ion-item>
                <ion-label inline>Réponse</ion-label>
                <ion-input type="text" (input)="checkAnswer($event.target.value)"></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <div #anils *ngIf="isDebug">
        <button ion-button outline (click)="resetAll()">Reset</button>
        <button ion-button (click)="drawLine()">Draw</button>
        <button ion-button (click)="drawAll()">Draw all</button>
        <button ion-button (click)="drawLineAnimated()">Draw Animated</button>
        <button ion-button (click)="drawAllAnimated()">Draw all animated</button>
    </div>
</ion-content>
