<ion-header>
    <ion-navbar>
        <ion-title>{{ title }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h1>Choisir un mot</h1>

    <button ion-button round full (click)="startDraw('pizza')">Pizza</button>
    <button ion-button round full (click)="startDraw('chaise')">Chaise</button>
    <button ion-button round full (click)="startDraw('taupiqueur')">Taupiqueur</button>

    <ion-card>
        <ion-card-header>
            Consigne
        </ion-card-header>
        <ion-card-content>
            Choisis un mot à faire deviner à un ami
        </ion-card-content>
    </ion-card>
</ion-content>