<ion-header>
    <ion-navbar>
        <ion-title>{{ title }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h1>Choisir un mot</h1>

    <button ion-button round full (click)="startDraw('pizza')">Pizza</button>
    <button ion-button round full (click)="startDraw('chaise')">Chaise</button>
    <button ion-button round full (click)="startDraw('taupiqueur')">Taupiqueur</button>

    <ion-card>
        <ion-card-header>
            Choisis un mot à faire deviner à un ami
        </ion-card-header>
    </ion-card>
    <h1>Deviner un mot</h1>

    <button ion-button icon-only (click)="startGuess('pizza')"><ion-icon name="ios-glasses-outline"></ion-icon></button>
</ion-content>